{
  "extends": ["auto"],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-floating-promises": 0,
    "@typescript-eslint/no-unsafe-assignment": 0,
    "@typescript-eslint/no-unsafe-call": 0,
    "@typescript-eslint/no-unsafe-member-access": 0,
    "@typescript-eslint/no-unsafe-return": 0,
    "@typescript-eslint/no-unused-vars": 1,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/unbound-method": 0,
    "eslint-comments/disable-enable-pair": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "no-secrets/no-secrets": 0,
    "no-underscore-dangle": 0,
    "react/no-array-index-key": 1,
    "react/no-danger": 1,
    "react/no-unused-prop-types": 1,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "scanjs-rules/identifier_localStorage": 0,
    "scanjs-rules/property_localStorage": 0,
    "sonarjs/no-duplicate-string": 1,
    "unicorn/no-array-reduce": 0,
    "unicorn/no-new-array": 0,
    "@typescript-eslint/ban-ts-comment": 1,
    "unicorn/no-useless-undefined": 0,
    "unicorn/prefer-spread": 0
  }
}
